<header>
    <div class="container">
        
        <a class="btn btn-primary" href="/celebrities">Back</a>
    </div>
</header>
<div class="container">
     <a class="btn btn-danger" href="/celebrities/create">Create New Celebrity</a>
    <h2>Celebrities List</h2>
   
    
  
</div>