<header>
    <div class="container">
        
        
    </div>
</header>
<div class="container">
     <a class="btn btn-danger" href="/celebrities/create">Create New Celebrity</a>
    <h2>Celebrities List</h2>
   

    {{#each celebrities}}
    <p>{{name}}</p>
    {{/each}}

  
</div>