
<header>
    <div class="container">
        <a class="btn btn-primary" href="/">Home</a>
        
        
    </div>
</header>
<div class="container">
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


    <a class="btn btn-dark" href="/movies">Movies</a>
    <a class="btn btn-dark" href="/celebrities">Celebrities</a>

</div>