<header>
    <div class="container">
        
        
    </div>
</header>
<div class="container">
     <a class="btn btn-danger" href="/movies/create">Create New Movies</a>
    <h2>Movies List</h2>
   

    {{#each movies}}
   <a href="/movies/{{id}}" ><p>{{title}}</p></a>
    {{/each}}

  
</div>