<header>
    <div class="container">
        <a class="btn btn-primary mr-2 " href="/">Home</a>
        <a class="btn btn-primary  mr-4" href="/movies">Back</a>

         <a class="btn btn-dark  mr-2" href="/movies/create">Create New Movies</a>
    
    {{!-- <a class="btn btn-dark mr-2" href="/celebrities/create">Create New celebrity</a> --}}
    </div>
</header>

<div class="container">
    <h2>Create a New Movies</h2>
    <div class="col-lg-4 col-md-4">
        <form action="/movies/create" method="POST">
            <div class="form-group">
               
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" required>

            </div>
            <div class="form-group">
                <label for="genre">Genre</label>
                <input type="text" class="form-control" id="genre" name="genre" required>

            </div>

            <div class="form-group">
                <label for="plot">plot</label>
                <input type="text" class="form-control" id="plot" name="plot" >

            </div>


           <div class="form-group">
                <label for="cast">cast</label>
                
                <select  class="form-control" id="cast" name="cast" multiple>
                {{#each getcast}}
                    <option value="{{id}}">{{name}}</option>
                {{/each}}
                  </select>
            
            </div>

            <button type="submit" class="btn btn-dark">Add movie</button>


        </form>
    </div>
</div>